<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crimzon Clover</title>
    <link rel="stylesheet" href="bundles/framework/css/styles.css" media="all" />
</head>
<body>
    <ul class="menu">
        <li><a href="../deathsmiles">Deathsmiles</a></li>
        <li><a href="../ikaruga">Ikaruga</a></li>
        <li><a href="../mushihimesama">Mushihimesama</a></li>
    </ul>

    <iframe width="420" height="315" src="{{ src }}" frameborder="0" allowfullscreen></iframe>

    <ul>
        <li><a href="../crimzonclover/type1">Type 1</a></li>
        <li><a href="../crimzonclover/type3">Type 3</a></li>
        <li><a href="../crimzonclover/typeZ">Type Z</a></li>
    </ul>
</body>
</html>