<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deathsmiles</title>
    <link rel="stylesheet" href="bundles/framework/css/styles.css" media="all" />
</head>
<body>
    <ul class="menu">
        <li><a href="../crimzonclover">Crimzon-Clover</a></li>
        <li><a href="../ikaruga">Ikaruga</a></li>
        <li><a href="../mushihimesama">Mushihimesama</a></li>
    </ul>
    <table>
        <tr>
            <th>Casper</th>
            <th>Sakura</th>
            <th>Follett</th>
            <th>Windia</th>
            <th>Rosa</th>
        </tr>
        <tr>
            <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763341-caspar_img.jpg"></td>
            <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763345-windia_img.jpg"></td>
            <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763342-foret_img.jpg"></td>
            <td><img src="http://static.giantbomb.com/uploads/scale_small/0/238/613909-sakura_iidx_red_dj.jpg"></td>
            <td><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763347-rosa_img.jpg"></td>
        </tr>
    </table>
</body>
</html>