<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mushihimesama</title>
    <link rel="stylesheet" href="bundles/framework/css/styles.css" media="all" />

</head>
<body>
    <ul class="menu">
        <li><a href="../crimzonclover">Crimzon-Clover</a></li>
        <li><a href="../deathsmiles">Deathsmiles</a></li>
        <li><a href="ikaruga">Ikaruga</a></li>
    </ul>
    <table>
        <tr>
            <td>
                <img src="http://2.bp.blogspot.com/-qZuafYZArjQ/UAcI2554H_I/AAAAAAAAAD0/mkWGFfOeMA8/s1600/Haiku.033.jpg">
            </td>
            <td>
                <img src="http://www.abload.de/img/ultispamc3ups.jpg">
            </td>
        </tr>
    </table>
</body>
</html>